<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url(/assets/bg1.jpg);" >
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #227ec0;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="/createroom" method="post" style="height: 450px;width: 55%;margin: auto;margin-top: 200px;">
                <div class="form-group" style="
                box-shadow: 1px 3px 4px gray ;
                background-color: rgba(235, 174, 163, 0.822);
                border: 1px solid rgba(160, 153, 153, 0.719); 
                padding: 25px; 
                margin: auto;
                border-radius: 8px;
                align-items: center;
                text-align: center;">
                <h3>Create new Room</h3>
                <label style="float: left;" for=""> <Strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    Title of your Meet
                </Strong></label>
                <input type="text" name="roomName" id="" class="form-control" placeholder="" aria-describedby="helpId">
                <br>
                <label style="float: left;" for=""><Strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    Password for your Meet
                </Strong></label>
                <input type="text" name="key" id="" class="form-control" placeholder="" aria-describedby="helpId">
                <br>
                <% if (locals.user!=null) { %>
                    <input type="hidden" class="form-control" name="idMain" value="<%- locals.user.id%>"  id="inputName" placeholder="">
                <% } %>
                
                <button type="submit" style="margin: auto;" class="btn btn-primary">Create Now</button>

            </form>

        </div>
        <div class="col-md-2"></div>
    </div>
</body>

</html>